body{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 700px;
    margin: 0 auto;
}
.main_section{
    padding: 20px;
    margin: 150px 150px 0 100px;
    background: #fff;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

}

.main_section h1 {
    text-align: center;
    position: absolute;
    top: -150px;
    left: 20%;
    font-size: 100px;
    color: rgba(175, 47, 47, 0.15);
}
.todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    width: 100%;
}

.edit{
    position: relative;
    margin: 7px 55px;
    width: 100%;
    font-size: 24px;
    max-width: fit-content;
    width: -moz-max-content;
}

.todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    color: brown;
    font-size: 30px;
    padding-bottom: 10px;
}

.check_all {
    position: relative;
    top: -45px;
    left: -12px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none;
    outline: none;
}

.todo-list li:hover .destroy {
    display: block;
}

.todo-list li .destroy:hover {
    color: coral;
}

.todo-list li .destroy:after {
    content: 'x';
}

.todo-list {
    list-style: none;
    margin-top: -30px;
    padding-left: 0;

}

.todo-list li{
    font-size: 24px;
    position: relative;
    border-bottom: 1px solid #ededed;
}

.todo-list li label{
    white-space: pre-line;
    word-break: break-all;
    padding: 10px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-family: Arial;
}

.todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

button{
    padding: 0;
    border: 0;
    background: none;
}

.toggle {
    width: 34px;
    height: 40px;
    position: absolute;
    margin-left: 5px;
}

footer{
    text-align: center;
    padding: 10px 15px;
}

footer:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.filters a{
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.todo-items-left {
    float: left;
    text-align: left;
}

.filters a.selected{
    border-color: rgba(175, 47, 47, 0.2);
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.clear-completed {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #4d4d4d;
}